{% extends "layout.html" %}

{% block title %}
    tweet-page
{% endblock %}

{% block content %}
    <h1 class="text-center mt-4">Wellcome to miniTwitter</h1>
    <a href="{% url 'tweetCreate' %}" class="btn btn-primary m-2">Create a tweet</a>
    <div class="container row gap-2">
        {% for tweet in tweets %}
            <div class="card" style="width: 18rem;">
                <img src="{{tweet.photo.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{tweet.user.username}}</h5>
                    <p class="card-text">{{tweet.text}}</p>
                    <a href="{% url 'tweetEdit' tweet.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'tweetDelete' tweet.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}